
/* Global styling to reset all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Styling for entire body tag*/
body {
    background-color: #d9dcd6;
}

/* Styling for the header tag*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styling for the first heading in the header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styling for the seo class in the header's heading*/
header h1 .seo {
    color: #d9dcd6;
}

/* Stlying for the section in the header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Styling for the unorder lists in the header's section*/
header nav ul {
    list-style-type: none;
}

/* Styling for the list items in the header's section's unordered list*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styling for the anchor tag (links)*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* Styling for the hero class which adds a background image below the header and above the main content*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styling for elements with the float-left tag and will push them to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Styling for elements with the float-right tag and will push them to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling for the figcaption tag giving them their own font size*/
figcaption {
    font-size: 16px;
}

/* Styling for first section with the content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styling for a group of figures in the content section*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styling for a group of images in the content section*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* Styling for a group of headings in the content section*/ 
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styling for the second section with the benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Styling for a group of figures in the benefits section*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styling for a group of headings in the benefits section*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styling for a group of images in the benefits section*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}
